* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  /* color: white; */
}

body {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  /*background-color: #4A494A;*/
  /* background-color: yellow; */
  /*position: relative;*/
  overflow: hidden;
  /* color: white; */
}

.DashboardDefault {
  /* background-color: red; */
}

.chartDashboard {
  width: 100%;
  /* max-width: 800px; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #6D6C6D;
}

.responsiveContainer {
  width: 90%;
  /* background-color: red; */
}

.topicList {
  /* background-color: blue; */
  width: 10%;
  height: 100%;
  overflow: scroll;
}

.chart {
  /* width: 100%;
  height: 100%; */
  background-color: #858585;
}
