* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  /* color: white; */
}

body {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100%;
  height: 100vh;
  /*background-color: #4A494A;*/
  /* background-color: yellow; */
  /*position: relative;*/
  overflow: hidden;
  /* color: white; */
}

.DashboardDefault {
  /* background-color: red; */
}

.chartDashboard {
  width: 100%;
  /* max-width: 800px; */
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: #6D6C6D; */
}

.responsiveContainer {
  width: 90%;
  /* background-color: red; */
}

.topicList {
  min-width: 75px;
  max-width: 80px;
  max-height: 400px;
  /* width: 100px; */
  /* height: 100%; */
  /* max-height: 200; */
  overflow-y: auto;
  background-color: #D3D3D3;
  /* background-color: red; */
  /* border-style: solid;
  border-size: 1px;
  border-color: black; */
}

.chart {
  /* width: 100%;
  height: 100%; */
  /* background-color: #858585; */
}

.tradeBotDashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: red; */
  flex-flow: row wrap;
  overflow-y: auto;
}

.botData {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  background-color: #A4A4A4;
}

/* .price {
  width: 100%;
  height: 100px;
  background-color: #868686;
} */

.marketDecisions {
  width: 400px;
  height: 400px;
  background-color: #D5D5D5;

}

.marketData {
  width: 400px;
  height: 400px;
  background-color: #D5D5D5;
}

.chart {
  width: 900px;
  height: 500px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #EFEFEF;
}

.accountData {
  width: 900px;
  height: 100vh;
  overflow-y: auto;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #A0A0A0
}
